@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

.container {
  height: auto;
  width: 100%;
}

header {
  position: relative;
  height: auto;
  background-color: #FAF6F3;
}
header .container_big {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav ul li {
  margin: 0px 10px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.54px;
  color: #3F3B3B;
}
header nav ul li h1 {
  font-size: 40px;
  font-weight: bold;
}
header nav ul #list {
  display: flex;
  align-items: center;
}
header nav ul #list .list_menu {
  position: absolute;
  display: none;
  top: 60px;
  z-index: 1;
  width: 330px;
  border-top: 2px solid #9F6C38;
  background: #FAF6F3;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  padding: 14px 24px 14px 24px;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out;
}
header nav ul #list .list_menu li a {
  display: inline-block;
  padding: 12px 0px;
  color: #3F3B3B;
  font-size: 18px;
  font-weight: 400;
}
header nav ul #list:hover .list_menu {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
header nav ul #list i {
  width: 18px;
  height: 18px;
  color: #757575;
  margin: 0px 4px;
}

.dropdow_content {
  width: 100%;
  background: white;
  position: fixed;
  top: 100px;
  left: 0px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
  z-index: 2;
  display: none;
  border: 1px solid #D9D9D9;
}

header .dropdow_content .center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  position: relative;
}
header .dropdow_content .center_flex input {
  height: 55px;
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  background: none;
}

header .dropdow_content:hover {
  border: 1px solid #9F6C38;
  transition: all 0.5s ease-in-out;
}

.show {
  display: block;
}

.content_right {
  display: flex;
  align-items: center;
}

.top_head {
  display: flex;
  align-items: center;
}
.top_head a {
  margin: 0px 10px;
}
.top_head button {
  display: flex;
  padding: 14px 22px;
  gap: 10px;
  align-items: center;
}
.top_head #but_one {
  background: #ffffff;
  border: 2px solid #9F6C38;
  border-radius: 4px;
  width: 167px;
  height: 52px;
  margin-right: 10px;
}
.top_head #but_one a {
  color: #9F6C38;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.top_head #but_two {
  width: 202px;
  height: 52px;
  background-color: #9F6C38;
  border: 2px solid #9F6C38;
  border-radius: 4px;
}
.top_head #but_two a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.content-header {
  height: 700px;
  width: 100%;
  display: flex;
  background-color: #9F6C38;
}
.content-header-text {
  width: 782px;
  background-color: #F3EDE0;
  padding-top: 179px;
  padding-right: 72px;
  padding-bottom: 60px;
  padding-left: 140px;
  position: relative;
}
.content-header-text h2 {
  font-weight: 400;
  font-size: 41px;
  line-height: 60px;
}
.content-header-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 14px;
  margin-bottom: 21px;
}
.content-header-text button {
  width: 245px;
  height: 52px;
  border: 2px solid #9F6C38;
  background-color: none;
  border-radius: 4px;
  padding: 14px 24px 14px 24px;
}
.content-header-text button a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #9F6C38;
}
.content-header-img img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.carousel ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  position: absolute;
  /* top: 204px; */
  bottom: 50px;
}
.carousel ul li {
  width: 50px;
  height: 5px;
  background-color: rgba(82, 87, 87, 0.4);
  border-radius: 20px;
  cursor: pointer;
}
.carousel ul li li:nth-child(1) {
  width: 50px;
  height: 5px;
  background-color: #9F6C38;
  border-radius: 20px;
}

.content-user {
  background-color: #9F6C38;
  padding: 30px 0px;
}
.content-user .user-text .text-h3 h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 33px;
  display: flex;
  font-weight: bold;
  color: #ffffff;
}
.content-user .user-text .text-h3 h3 i {
  margin: 0px 10px;
  width: 24px;
  height: 24px;
}
.content-user .user-text .text-p p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: white;
}
.content-user .image-user img {
  margin-right: 30px;
  width: 55px;
  height: 55px;
}
.content-user-list {
  display: flex;
  align-items: center;
}
.content-user-list:nth-child(2) {
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  padding: 0px 84px;
}
.content-user .content_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.select-box {
  background-color: #FAF6F3;
  border: none;
  appearance: none;
  padding: 0px 30px 0px 5px;
  width: 11%;
}

.center {
  text-align: center;
}

.test_collter {
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  line-height: 48px;
  margin-bottom: 35px;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

section {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 40px 0px;
  background-color: #FAF6F3;
}

.owl-item .slide {
  max-width: 100%;
  height: 60px;
  margin: 0px auto;
  width: initial;
  object-fit: contain;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background-color: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span {
  background: #9F6C38 !important;
}

.owl-dots .owl-dot.active span {
  background: #869791;
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.user-list1 {
  position: relative;
}
.user-list1 .img_selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-list1 img {
  width: 222px;
  height: 138px;
}
.user-list1 .button_user {
  justify-content: center;
  display: flex;
  padding-top: 35px;
  padding-bottom: 62px;
}
.user-list1 .button_user button {
  background-color: #9F6C38;
  width: 169px;
  height: 52px;
  border: 2px solid #9F6C38;
  border-radius: 4px;
}
.user-list1 .button_user button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.center_flex {
  max-width: 1200px;
  margin: auto;
}

.user-blog {
  display: flex;
  position: relative;
}
.user-blog .title_blog {
  width: 270px;
  height: 298px;
  display: inline-block;
  position: relative;
}
.user-blog .title_blog h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #3F3B3B;
  margin-bottom: 24px;
}
.user-blog .title_blog .btn {
  width: 169px;
  height: 52px;
  padding: 14px 24px;
  background-color: #9F6C38;
  border: none;
  margin-top: 35px;
  border-radius: 4px;
}

.btn {
  width: 169px;
  height: 52px;
  padding: 14px 24px;
  background-color: #9F6C38;
  border: none;
  margin-top: 35px;
  border-radius: 4px;
}

.img_carousel-text {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin-top: -3px;
  padding: 20px 20px 20px 40px;
}
.img_carousel-text a {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
.img_carousel-text p {
  font-weight: 400;
  font-size: 18px;
  color: #3F3B3B;
  line-height: 26px;
}
.img_carousel-text .time {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}

.component_button button {
  width: auto;
  height: 34px;
  border-radius: 4px;
  padding: 10px 22px 10px 22px;
  gap: 10px;
  border: none;
  background-color: #ffffff;
}
.component_button button a {
  margin-right: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #9F6C38;
}
.component_button .a_button {
  color: #9F6C38;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
}

.btn a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.btn_center {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.btn_center .btn_btn {
  width: 245px;
  height: 52px;
  border: 2px solid #9F6C38;
  background: white;
  border-radius: 4px;
  padding: 14px 24px 14px 24px;
}
.btn_center .btn_btn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #9F6C38;
}

.img_title1 {
  display: flex;
  max-width: 930px;
  height: auto;
  gap: 32px;
  flex-wrap: wrap;
}

.img_carousel {
  width: 264px;
  height: auto;
}
.img_carousel img {
  width: 264px;
}

.product__item {
  display: flex;
  justify-content: center;
}
.product__item-details {
  width: 183px;
  margin-right: 80px;
  text-align: center;
}
.product__item-details a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #3F3B3B;
}

.img_biger {
  display: flex;
  position: relative;
  align-items: center;
}
.img_biger img {
  position: relative;
  width: 100%;
}

.img_big::before {
  background: url("../image/infrastructure/Rectangle 29802.png");
  content: "";
  width: 743px;
  height: 360px;
  position: absolute;
  top: 90px;
  left: -40px;
}

.img_big1 {
  position: relative;
  margin-left: 81px;
  z-index: 1;
}

.img_big1::before {
  background: url("../image/infrastructure/Group 1000006818.png");
  position: absolute;
  content: "";
  top: 130px;
  left: -30px;
  z-index: -1;
  width: 100%;
  height: 70%;
}

.img_big2 {
  margin-top: 80px;
  margin-left: 40px;
}

.img_one {
  margin: 25px 0px;
}

.why {
  background-color: #F3EDE0;
}

.container_big {
  display: flex;
  position: relative;
}

.text_mid {
  display: flex;
  width: 592px;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0px;
  margin-right: 76px;
}
.text_mid img {
  margin-right: 20px;
  margin-top: 8px;
}

.text_mid:nth-child(4) {
  border-bottom: none;
}

.text_right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.img_list {
  float: left;
  display: block;
}
.img_list .list1 img {
  width: 146px;
  height: 146px;
  float: right;
  margin-right: 10px;
}
.img_list .list2 img {
  width: 194px;
  height: 194px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.class_list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_context h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #3F3B3B;
}
.text_context h3 .text_dot p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.shunfa {
  background: url("../image/high-angle-white-cubes-assorment-purple-background 3.png");
  height: 328px;
  position: relative;
}

.test_couter h2 {
  text-align: center;
  padding-top: 62px;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.test_couter p {
  color: white;
  z-index: 1;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  line-height: 45px;
}
.test_couter .btn {
  position: relative;
  z-index: 1;
}

.shunfa::after {
  height: 100%;
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  background: #9F6C38;
  opacity: 0.8;
}

footer {
  background-color: #FAF6F3;
}
footer ul li {
  list-style-type: none;
}
footer .container {
  padding: 4% 0px;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
footer .container .item__left-logo img {
  height: 80px;
}
footer .container .item__left-info {
  margin-top: 1rem;
}
footer .container .item__left-info ul #nameCT {
  font-size: 1rem;
}
footer .container .item__left-info ul li {
  font-size: 0.68rem;
  line-height: 1.5rem;
}
footer .container .item__left-info ul li span {
  margin-right: 5px;
}
footer .container .item__left-info ul li #phone {
  color: #9F6C38;
}
footer .container .item__left-social span {
  margin-right: 0.5rem;
}
footer .container .item__right {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
footer .container .item__right .item_box .title h3 {
  font-size: 1.5rem;
}
footer .container .item__right .item_box .content ul li {
  line-height: 2rem;
}

.action_btn {
  display: block;
  bottom: 110px;
  position: fixed;
  right: 0px;
}

.wrapper-one {
  margin: -100px 0px;
}

.coccoc-alo-ph-circle {
  width: 80px;
  height: 80px;
  top: 55px;
  left: 55px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: #9F6C38;
  opacity: 0.5;
}

.coccoc-alo-ph-circle-fill {
  width: 70px;
  height: 70px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.img_phone .coccoc-alo-ph-img-circle {
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(../image/Vector.png) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.img_mess .coccoc-alo-ph-img-circle {
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(../image/ri_messenger-fill.svg) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #9F6C38;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #9F6C38;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #75eb50;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

/*# sourceMappingURL=style.css.map */
